*.cf filter=lfs diff=lfs merge=lfs -text
PKS1C/src/Documents/РегистрацияККТ/Templates/дККТ10_32/Template.bin filter=lfs diff=lfs merge=lfs -text
PKS1C/src/Documents/РегистрацияККТ/Templates/дККТ10_64/Template.bin filter=lfs diff=lfs merge=lfs -text
